@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div>
        <p class="par1">
            Our Warm Pet aims to provide good service for you to learn more about pets and pet services.
        </p>

    </div>

    <div>
        <div class="col-md-4">
            <p class="par3">Grooming pets</p>
            <p class="par2">Both the hygienic care and cleaning of your pet. </p>
            @*if user interests in related knowledge, they can use this link when to other related website(not mine)*@
            @*Rspca(2021). Benefits of grooming. https: //rspcavic.org/health-and-behaviour/tips-for-a-happy-pet-and-owner/benefits-of-grooming *@
            <p><a class="par4" href="https://rspcavic.org/health-and-behaviour/tips-for-a-happy-pet-and-owner/benefits-of-grooming">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <p class="par3">Pets Sitting</p>
            <p class="par2">A good sitter temporarily takes care of your pet for a given time frame.</p>
            @*if user interests in related knowledge, they can use this link when to other related website(not mine)*@
            @*Wikipedia(2021) Pet Sitting. https: //en.wikipedia.org/wiki/Pet_sitting*@
            <p><a class="par4" href="https://en.wikipedia.org/wiki/Pet_sitting">Learn more &raquo;</a></p>

        </div>

        <div class="col-md-4">
            <p class="par3">Make a booking</p>
            <p class="par2">Book through our platform and consult with an experienced veterinarian</p>
            @*if user interests in related knowledge, they can use this link when to other related website(not mine)*@
            @*Bajwa.J., BVSC & AH, DACVD (2020) Advantages of Online Vet Dermatology Appointments. VetDerm. https: //www.vetdermclinic.com/advantages-of-online-vet-dermatology-appointments/*@
            <p><a class="par4" href="https://www.vetdermclinic.com/advantages-of-online-vet-dermatology-appointments/">Learn more &raquo;</a></p>
        </div>

    </div>
    <div>

    </div>


</div>
